In [1]:
import pandas as pd
import os

In [2]:
!curl -O https://raw.githubusercontent.com/fedhere/PUI2016_fb55/master/Lab3_fb55/times.txt

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
107  1179  107  1179    0     0   6926      0 --:--:-- --:--:-- --:--:-- 38032

In [10]:
dataFile = pd.read_csv('times.txt', header = None)
dataFile

            0
0   31.622239
1   32.821376
2   30.229101
3   31.413766
4   39.010550
5   34.822079
6   39.871884
7   39.579946
8   31.026587
9   27.662461
10  18.875288
11  46.231373
12  30.015226
13  47.600410
14  16.527267
15  42.446233
16  33.625274
17  42.284626
18  46.205207
19  30.875174
20  32.948003
21  26.176915
22  31.256996
23  35.336446
24  35.640725
25  40.322972
26  38.043486
27  29.457979
28  23.916364
29  34.564035
..        ...
70  31.481028
71  37.149151
72  38.991504
73  20.530594
74  27.804477
75  38.699333
76  30.022314
77  38.648842
78  26.406689
79  32.102250
80  28.315328
81  43.261959
82  40.360941
83  37.302526
84  31.451102
85  38.795995
86  36.925534
87  32.371679
88  23.258356
89  26.426133
90  48.749877
91  31.425124
92  46.806793
93  30.597486
94  20.792632
95  26.197852
96  42.727410
97  33.731470
98  37.238591
99  36.339841

[100 rows x 1 columns]

In [40]:
dataFile.mean()

0    34.466162
dtype: float64

In [41]:
dataFile.std()

0    7.13728
dtype: float64

In [15]:
dataFile.count()

0    100
dtype: int64

In [42]:
type(dataFile.std())

pandas.core.series.Series

In [11]:
taking_mean = dataFile.mean()
taking_std = dataFile.std()

Z_Test = ((taking_mean - 36)/(taking_std/(dataFile.count()**0.5)))

Z_Test